@import url('http://fonts.cdnfonts.com/css/press-start-2p');

@font-face {
  font-family: 'Press Start 2p';
}
body {
  background-color: black;
  font-size: 30pt;
  font-family: 'Press Start 2p';
}

h1{
	margin-top: 3em;
	color: lightgray;
	text-align: center;
	font-size: 1.2em;
}

h2{
	color: lightgray;
	text-align: center;
	font-size: 0.5em;
}

#start{
	display: block;
	margin-top: 3em;
	color: white;
	text-align: center;
	font-size: 1em;
	animation: fadeinout 1500ms steps(30,end) infinite;
	animation-play-state: running;
}

@keyframes fadeinout{
	0%{opacity: 1;}
	50%{opacity: 0.5;}
	100%{opacity: 1;}
}

#level{
	display: none;
	margin-top: 3em;
	color: yellow;
	text-align: center;
	font-size: 1em;
}

#controller_div{
	margin-top: 4em;
	width: 100%;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}

#arrow_buttons_div{
	margin-right: 100pt;
	display: flex;
}

.button_text{
	color: white;
	font-size: 0.8em;
	margin-top: 0;
	margin-left: 5px;
}

/*
Credits to Tierry Michel for his button designs
https://codepen.io/thierrymichel/pen/Pwzbmd
*/

 [class*="push"] {
	 position: relative;
	 display: inline-block;
	 width: 160px;
	 height: 160px;
	 border: 0;
	 margin: 1em;
	 outline: none;
	 background-color: rgba(194, 71, 10, 1);
	 border-radius: 50%;
	 cursor: pointer;
	 transition: box-shadow 200ms;
}
 .push--flat {
	 box-shadow: inset 0 5px 0 rgba(218, 80, 11, 1), inset 0 -5px 0 rgba(170, 62, 9, 1), inset 0 0 0 5px rgba(179, 66, 9, 1), inset 0 0 0 13.3333333333px rgba(194, 71, 10, 1), inset 0 0 0 16px rgba(97, 36, 5, 1), inset 0 0 0 17.3913043478px rgba(0, 0, 0, 1), inset 0 0 0 21.3333333333px rgba(247, 156, 110, 0.7), inset 0 0 0 29.0909090909px rgba(194, 71, 10, 1), inset 0 64px 21.3333333333px rgba(170, 62, 9, 1), inset 0 0 16px 26.6666666667px rgba(145, 54, 8, 1), 0 8px 0 rgba(0, 0, 0, .3);
}
 .push--flat:after {
	 content: '';
	 position: absolute;
	 bottom: 8px;
	 left: 16px;
	 display: block;
	 width: 128px;
	 height: 128px;
	 border: 10.6666666667px solid rgba(0, 0, 0, .3);
	 border-width: 0 0 10.6666666667px;
	 border-radius: 50%;
	 transition-duration: 200ms;
}
 .push--flat:active, .push--flat.is-pushed {
	 box-shadow: inset 0 5px 0 rgba(218, 80, 11, 1), inset 0 -5px 0 rgba(170, 62, 9, 1), inset 0 0 0 5px rgba(179, 66, 9, 1), inset 0 0 0 13.3333333333px rgba(194, 71, 10, 1), inset 0 0 0 16px rgba(97, 36, 5, 1), inset 0 0 0 18.8235294118px rgba(0, 0, 0, 1), inset 0 0 0 21.3333333333px rgba(247, 156, 110, 0.2), inset 0 0 0 29.0909090909px rgba(179, 66, 9, 1), inset 0 64px 21.3333333333px rgba(155, 57, 8, 1), inset 0 0 16px 26.6666666667px rgba(121, 45, 6, 1), 0 8px 0 rgba(0, 0, 0, .3);
	 background-color: rgba(184, 68, 10, 1);
}
 .push--flat:active:after, .push--flat.is-pushed:after {
	 bottom: 18.6666666667px;
	 border-width: 0;
}

[class*="blue"] {
	 position: relative;
	 display: inline-block;
	 width: 160px;
	 height: 160px;
	 border: 0;
	 margin: 1em;
	 outline: none;
	 background-color: rgba(56, 10, 194, 1);
	 border-radius: 50%;
	 cursor: pointer;
	 transition: box-shadow 200ms;
}
 .blue--flat {
	 box-shadow: inset 0 5px 0 rgba(63, 11, 218, 1), inset 0 -5px 0 rgba(49, 9, 170, 1), inset 0 0 0 5px rgba(52, 9, 179, 1), inset 0 0 0 13.3333333333px rgba(56, 10, 194, 1), inset 0 0 0 16px rgba(28, 5, 97, 1), inset 0 0 0 17.3913043478px rgba(0, 0, 0, 1), inset 0 0 0 21.3333333333px rgba(144, 110, 247, 0.7), inset 0 0 0 29.0909090909px rgba(56, 10, 194, 1), inset 0 64px 21.3333333333px rgba(49, 9, 170, 1), inset 0 0 16px 26.6666666667px rgba(42, 8, 145, 1), 0 8px 0 rgba(0, 0, 0, .3);
}
 .blue--flat:active, .blue--flat.is-pushed {
	 box-shadow: inset 0 5px 0 rgba(63, 11, 218, 1), inset 0 -5px 0 rgba(49, 9, 170, 1), inset 0 0 0 5px rgba(52, 9, 179, 1), inset 0 0 0 13.3333333333px rgba(56, 10, 194, 1), inset 0 0 0 16px rgba(28, 5, 97, 1), inset 0 0 0 18.8235294118px rgba(0, 0, 0, 1), inset 0 0 0 21.3333333333px rgba(144, 110, 247, 0.2), inset 0 0 0 29.0909090909px rgba(52, 9, 179, 1), inset 0 64px 21.3333333333px rgba(45, 8, 155, 1), inset 0 0 16px 26.6666666667px rgba(35, 6, 121, 1), 0 8px 0 rgba(0, 0, 0, .3);
	 background-color: rgba(53, 10, 184, 1);
